#container{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
::-webkit-scrollbar-track {
    border: 1px solid lightgray ;
    border-radius: 0.01in;
    }
    
::-webkit-scrollbar-thumb {
    background: #517A85;  
    border-radius: 0.01in;
    }

#text-box{
    border-radius: 0.01in;
    padding: 5%;
    height: 90%;
    background-color: #F6F7E8;
    overflow:scroll;
    overflow-x: hidden;
}
#instruction{
    display: grid;
    font-family: "Gill Sans", sans-serif;
    font-size: 40px;
    flex-grow: 1;
    margin-right: 10px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

button:hover{
    background-color: #517A85;
    color:#73bed3;
    border-color: #73bed3;
    cursor: pointer;
  }

button{
    font-family: "Gill Sans", sans-serif;
    margin: 10px;
    font-size: 25px;
    color:#517A85;
    width: 150px;
    background-color: #73bed3;
    display:grid;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 6px #517A85;
}

#do-not-show-button{
    margin-top: 40px;
    width: 400px;
    margin-bottom: -20px;
}

#header-container{
    background-color: #B1E1DF;
    height: 80px;
    display: flex;
    flex-direction: row;
}


p{
    font-family: "Gill Sans", sans-serif;
    font-size: 0.25in;

}

img{
    border-radius: 0.1in;
    width: 70%;
}


.important{
    color: red;
}


.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

#do-not-show-button.clicked{
    background-color: #517A85;
    color:#73bed3;
    border-color: #73bed3;
    cursor: not-allowed;
}